nav {
display: flex;
justify-content: space-between;
}

.right {
flex-direction: column;
align-items: flex-end;
}
section {
width: 30%;
display: flex;
align-items: center;
justify-content: space-between;
}

.socialmedia {
width: 30px;
}

header {
height: 40vh;
margin: 40px 30px 50px 30px;
padding: 30px 20px;
background-image: url("https://kids.nationalgeographic.com/content/dam/kids/photos/articles/Nature/H-P/Habitats/Ocean/wave.ngsversion.1500050062134.adapt.1900.1.jpg");
background-repeat: no-repeat;
background-size: cover;}

header div {
position: relative;
}

.arrows {
position: absolute;
top: 0px;
left: 0px;
width: 48px;
}

#left-arrow {
top:185px;
left: -32px;
}

#right-arrow {
top:185px;
left:1075px;
}





h1 {
text-align: center;
font-family: sans-serif;
color: grey;
font-size: 23px;
}
