body {
    background-image: url(assets/textures/fabric_plaid.png)
    }
    nav {
    display: flex;
    justify-content: space-between;
    }
    
    .right {
    flex-direction: column;
    align-items: flex-end;
    }
    .about {
        display: flex;
        width: 35%;
        align-items: center;
        justify-content: space-between;
        text-decoration-line: none;
        font-family: sans-serif;
        color: black;
        }
    
    .socialmedia {
    width: 30px;
    color: black;
    }

    header {
    }

    .firsttwo {
    display: flex;
    }
    
    .imageone {
        height: 52vh;
        margin: 40px 20px 70px 30px;
        padding: 60px 435px;
        border: solid 9px white;
        background-image: url("https://kids.nationalgeographic.com/content/dam/kids/photos/articles/Nature/H-P/Habitats/Ocean/wave.ngsversion.1500050062134.adapt.1900.1.jpg");
        background-repeat: no-repeat;
        background-size: cover;}
    
    .sophiepage {
        display: flex;
        height: 30vh;
        width: 36%;
        margin-top: 3%;
        background-color: white;
    }
        
    #sophieface {
        margin-left: 5%;
        width: 200px;
        height: 190px;
        margin-top: 2%;
        margin-right: 2%;
    }
    #facebook {
        width: 40px;
        margin-top: 2%;
    }
    #twitter {
        width: 40px;
        margin-top: 2%;
    }
    .bio {
       line-height: 70%;
       text-align: right;
       margin-left: 8%;
       color: grey;
       margin-top:3%;
       
    }

    .bio h3 {
       font-size: 20px;
       font-family: sans-serif;
    }

    .bio h1 {
        font-size: 25px;
        font-family: sans-serif;
     }

     .herlife {
     margin-top: -22.5%;
     margin-left: 2%;
     height: 66vh;
     width: 35.5%;
     background-color: white;}     

     .actualbio {
    font-size: 24px; 
    color: grey;
    margin: 3%;
    font-family: sans-serif;
     }

     .actualbio h1 {
    font-size: 26px;
     }

        .bottomthree {
        display: flex;
        justify-content: space-between;
        width: 58%;
        margin-left: 36px;
        margin-top: -3%;
        }
        
        .imagetwo {
        height: 22vh;
        width: 30%;
        border: solid 9px white;
        background-image: url("https://www.vactualpapers.com/web/wallpapers/material-design-hd-wallpaper-no-0728/thumbnail/lg.png");
        background-repeat: no-repeat;
        background-size: cover;}
        
        .imagethree {
        height: 22vh;
        width: 30%;
        border: solid 9px white;
        background-image: url("https://www.vactualpapers.com/web/wallpapers/material-design-hd-wallpaper-no-0728/thumbnail/lg.png");
        background-repeat: no-repeat;
        background-size: cover;}
        
        .imagefour {
        height: 22vh;
        width: 30%;
        border: solid 9px white;
        background-image: url("https://www.vactualpapers.com/web/wallpapers/material-design-hd-wallpaper-no-0728/thumbnail/lg.png");
        background-repeat: no-repeat;
        background-size: cover;} 

        .rightside {
        width: 40%;
        height: 40vh;
        border: solid 1px red;
        }

    .bottomlife {
    display: flex;
    }

    .actualgallery {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        margin-left: 2.2%;
        margin-right: 2.2%;
        margin-bottom: 2%;}
    
    .artwork {
        width: 300px;
        height: 200px;
        margin: 1% 1%;
        align-self:center;}
    

    .gallery h1 {
    margin-top: 40px;
    margin-bottom: -0.5%;
    margin-left: 2.5%;
    font-size: 20px;
    font-family: sans-serif;
    color: grey;
    }

    
    }
    .button:hover {
    background-color: #ddd;
    }
    
    .bird {
    margin: 10px;
    height: 30px;
    width: 30px;
    }
    
    .bar {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    padding: 10px;
    background-color: rgb(83, 83, 83);
    color: white;
    }
    
    footer {
    background-image: url(assets/textures/az_subtle.png);
    background-color: rgb(157, 161, 148);
    background-blend-mode: multiply;
    padding-bottom: 50px;
    
    }
    
    .aboutbottom {
    padding: 2px;
    font-size: 12px;}
    
    .aboutfooter {
    display: flex;
    align-items: center;
    width: 30%;
    justify-content: flex-start;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    }
    .onebottom {
    padding-left: 6px;
    padding-top: -10px;
    }
    
    .onebutton p{
    color: white;
    }
    
    .search {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 6%;
    padding-left: 3px;
    padding-right:160px;
    padding-top:0px;
    padding-bottom:0px;
    background-color: white;
    color: black;
    }
    
    .mag {
    width: 10px;
    height: 10px;
    margin-right: 6px;
    }
    
    .firstcolumn {
    margin-right: 7px;
    margin-left: 15px;
    width: 30%;
    float: left;
    
    }
    
    .visual {
    display: flex;
    justify-content: start;
    flex-direction: column;
    width: 30%;
    font-family: sans-serif;
    float: left;
    margin-right: 15px;
    }
    .visual p {
    color: white;
    font-size: 12px;
    }
    .tinygallery {
        display: flex;
        flex-flow: row wrap;
        justify-content:;
        flex-direction: column;
        margin-left: 10%;
        }
    .tinygallery h3 {
    font-family: sans-serif;
    margin-left: 7%;
    }
    .tinydoggroup {
        display: flex;
        flex-direction: column;
        margin-left: 7%;
    }
    .tinydog{
        width: 90px;
        height: 50px;
        margin: 2px;
        align-self:center}
    
    
    