@font-face {
    font-family: 'museo';
    src: url('assets/fonts/museo/museo-300-webfont.woff') format('woff');
}
* { 
font-family: 'museo';}
body {
    background-image: url(assets/textures/fabric_plaid.png)
    }
    nav {
        display: flex;
        justify-content: space-between;
        margin-left: 2.5%;
        }
        
        .right {
        flex-direction: column;
        align-items: flex-end;
        margin-right: 2.2%;
        width: 12%;
        height: 90px;
        }
        
        .tficons {
        display: flex; 
        justify-content: flex-end;
        height: 30px;
        }
        
        .tficons img {
        margin-left: 10px;}
        
        .loginregister {
        display: flex;
        justify-content: space-between;
        margin-top: 14px;
        color: rgb(168, 168, 168);
        }
        
        .loginregister a {
        text-decoration: none;
        color:rgb(170, 170, 170);
        }
        .about {
        display: flex;
        width: 35%;
        align-items: center;
        justify-content: space-between;
        }
        
        .about a {
        text-decoration: none;
        color: gray;
        }
        
        
        .socialmedia {
        width: 30px;
        color: black;
        }

    header {
    }

    .firsttwo {
    display: flex;
    }
    
    .imageone {
        height: 52vh;
        margin: 40px 20px 70px 30px;
        padding: 60px 435px;
        border: solid 9px white;
        background-image: url("https://kids.nationalgeographic.com/content/dam/kids/photos/articles/Nature/H-P/Habitats/Ocean/wave.ngsversion.1500050062134.adapt.1900.1.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;}

.arrows {
position: absolute;
width: 48px;
}

#left-arrow {
top:250px;
left: -20px;
}

#right-arrow {
top:250px;
right: -20px;
}


    
    .sophiepage {
        display: flex;
        height: 30vh;
        width: 36%;
        margin-top: 3%;
        margin-right: 2%;
        background-color: white;
        border: 1px solid red;
    }
        
    #sophieface {
        margin-left: 5%;
        width: 170px;
        height: 200px;
        margin-top: 2%;
        border: 1px solid red;
    }
    #facebook {
        width: 40px;
        margin-top: 2%;
    }
    #twitter {
        width: 40px;
        margin-top: 2%;
    }
    .bio {
       line-height: 70%;
       text-align: right;
       margin-left: 8%;
       color: grey;
       margin-top:3%;
       
    }

    .bio h3 {
       font-size: 20px;
       font-family: sans-serif;
    }

    .bio h1 {
        font-size: 25px;
        font-family: sans-serif;
     }

     .herlife {
     margin-top: -22.5%;
     margin-left: 2%;
     height: 66vh;
     width: 35.5%;
     background-color: white;}     

     .actualbio {
    font-size: 24px; 
    color: grey;
    margin: 3%;
    font-family: sans-serif;
     }

     .actualbio h1 {
    font-size: 26px;
     }

        .bottomthree {
        display: flex;
        justify-content: space-between;
        width: 58%;
        margin-left: 36px;
        margin-top: -3%;
        }
        
        .imagetwo {
        height: 22vh;
        width: 30%;
        border: solid 9px white;
        background-image: url("https://www.vactualpapers.com/web/wallpapers/material-design-hd-wallpaper-no-0728/thumbnail/lg.png");
        background-repeat: no-repeat;
        background-size: cover;}
        
        .imagethree {
        height: 22vh;
        width: 30%;
        border: solid 9px white;
        background-image: url("https://www.vactualpapers.com/web/wallpapers/material-design-hd-wallpaper-no-0728/thumbnail/lg.png");
        background-repeat: no-repeat;
        background-size: cover;}
        
        .imagefour {
        height: 22vh;
        width: 30%;
        border: solid 9px white;
        background-image: url("https://www.vactualpapers.com/web/wallpapers/material-design-hd-wallpaper-no-0728/thumbnail/lg.png");
        background-repeat: no-repeat;
        background-size: cover;} 

        .rightside {
        width: 40%;
        height: 40vh;
        border: solid 1px red;
        }

    .bottomlife {
    display: flex;
    }

    .actualgallery {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        margin-left: 2.2%;
        margin-right: 2.2%;
        margin-bottom: 2%;}
    
    .artwork {
        width: 300px;
        height: 200px;
        margin: 1% 1%;
        align-self:center;}
    

    .gallery h1 {
    margin-top: 40px;
    margin-bottom: -0.5%;
    margin-left: 2.5%;
    font-size: 20px;
    font-family: sans-serif;
    color: grey;
    }

    
    .button:hover {
        background-color: #ddd;
        }
        
        .bird {
        margin: 10px;
        height: 30px;
        width: 30px;
        }
        
        .bar {
        display: flex;
        justify-content: center;
        margin-top: 10px;
        padding: 10px;
        background-color: rgb(83, 83, 83);
        color: white;
        }
        
        footer {
        background-image: url(assets/textures/az_subtle.png);
        background-color: rgb(174, 177, 167);
        background-blend-mode: multiply;
        padding-bottom: 50px;}
        
        
        
        .aboutbottom {
        padding: 2px;
        font-size: 12px;}
        
        .aboutfooter {
        display: flex;
        align-items: center;
        width: 80%;
        justify-content: space-between;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 10px;
        }
        .aboutfooter a {
        font-size: 13px;
        text-decoration: none;
        color: rgb(66, 66, 66)
        }
        .onebottom {
        padding-left: 6px;
        padding-top: -10px;
        }
        
        .onebottom p {
        color: white;
        }
        
        .search {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 80%;
        height: 30px;
        background-color: white;
        color: black;
        }
        
        .mag {
        width: 13px;
        height: 13px;
        margin-right: 6px;
        margin-left: 5px;
        }
        
        .firstcolumn {
        margin-top: 15px;
        margin-right: 7px;
        margin-left: 2%;
        width: 30%;
        float: left;
        
        }
        
        .visual {
        display: flex;
        justify-content: start;
        flex-direction: column;
        width: 27%;
        height: 30vh;
        float: left;
        margin-left: 45px;
        margin-top: 23px;
        margin-right: 4%;
        }
        .visual p {
        color: white;
        font-size: 15px;
        line-height: 25px;
        margin-top: -1%;
        }
        .visual h5 {
        margin-top: -1%;
        font-size: 16px;
        }
        .tinygallery {
            display: flex;
            flex-flow: row wrap;
            justify-content:;
            flex-direction: column;
            margin-left: 10%;
            width: 30%;
            padding-top: 10px;
            padding-left: 3%;
            }
        .tinydoggroup {
            display: flex;
            flex-direction: column;
        }
        .tinydog{
            width: 100px;
            height: 50px;
            margin: 2px;
            align-self:center}
    